
$font-family-base: 'Redressed'; //'Niconne';


//** Background color for `<body>`.
$body-bg: #E5E0FA !default; //azul 0.
$nav-bg: #8C78E8 !default; //azul 1.
$footer-bg: #110934 !default; //Azul 5

//** Esquema de colores.
$primary: #4424D6 !default; // Azul 3
$warning: #29157E !default; // Azul 4

$info: #3399CC !default; //Azul claro
$success: #00FF00 !default;
$danger: #FF0000 !default;


$brand-primary: $primary;
$brand-success: $success;
$brand-info: $info;
$brand-warning: $warning;
$brand-danger: $danger;


$text-color: $brand-primary !default;

//CSS for code blocks.
$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white


//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//@font-family-sans-serif
//@font-family-serif
//@font-family-monospace

//Default monospace fonts for <code>, <kbd>, and <pre>.
//@font-family-base
//@font-size-base
//@font-size-large
//@font-size-small
//@font-size-h1
//@font-size-h2
//@font-size-h3
//@font-size-h4
//@font-size-h5
//@font-size-h6
//@line-height-base

//Unit-less line-height for use in components like buttons.
//@line-height-computed

//Computed "line-height" (font-size * line-height) for use with margin, padding, etc.
//@headings-font-family

//By default, this inherits from the <body>.
//@headings-font-weight
//@headings-line-height

