
#banner{
  position: relative;
  background: url('../img/bg_soyuz_001.jpeg');
  min-height: 250px;

  .primary-overlay{
    background: rgba(17,131,165,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

